@font-face {
    font-family: "Hiragino Mincho ProN";
    src: url("/assets/fonts/Hiragino Mincho ProN W3.otf");
}

:root {
    --main-dark: #333138;
    --main-accent-1: #347FC4;
    --main-light: #EBEBEB;
    --main-light-hover: #999999;
    --main-accent-2: #EB8258;
    --main-accent-3: #6A8D73;
}

* {
    font-family: "Hiragino Mincho ProN", "Georgia", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--main-light);
    height: 100vh;
}

/* UTILITY CLASSES */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placement-box {
    width: 100px;
    height: 100px;
    background-color: red;
}

/* CONTAINERS */
#timer-container {
    color: var(--main-light);
    background-color: var(--main-accent-1);
    width: calc(60vw - 3rem);
    height: calc(100vh - 4rem);
    margin: 2rem 1rem 2rem 2rem;
}

#rate-container {
    color: var(--main-light);
    background-color: var(--main-accent-3);
    width: calc(40vw - 3rem);
    height: calc(80vh - 3rem);
    margin: 2rem 2rem 1rem 1rem;
}

#credit-container {
    background-color: var(--main-dark);
    width: calc(40vw - 3rem);
    height: calc(20vh - 3rem);
    margin: 1rem 2rem 2rem 1rem;
}

.main-container {
    border-radius: 1rem;
}

/* TIMER SPECIFIC STYLES */
.timer-text-small {
    font-size: 7.9vw;
}

.timer-text-large {
    font-size: 9.3vw;
}

#timer-amount {
    vertical-align: text-bottom;
}

.control-icon {
    fill: var(--main-light);
}

.control-icon:hover {
    filter: brightness(80%);
}

.control-icon:active {
    filter: brightness(50%);
}

#controls-row {
    margin-top: 1rem;
    gap: 3rem;
}

#controls-row svg {
    width: 5vw;
    height: 5vw;
    color: var(--main-light);
}

/* RATE SPECIFIC STYLES */
.rate-text-small {
    font-size: 2vw;
}

#rate-amount-input {
    background: none;
    /* background-color: rgba(255, 255, 255, 0.2); */
    border: none;
    outline: none;
    max-width: 20vw;
    min-width: 5vw;
    color: var(--main-light);
}

#rate-amount-input::placeholder {
    color: var(--main-light);
}

#rate-amount-input, #hidden, .rate-text-large {
    font-size: 4.6vw;
}